.editor-container {
  height: 100vh;
  /* display: flex;
  flex-direction: column; */
}

.gjs-editor {
  margin-top: 50px; /* Push GrapesJS editor below the top panel */
}

.gjs-editor-cont {
  padding-top: 50px; /* Add padding equal to your panel height */
}

.panel__top {
  position: absolute; /* or fixed, depending on your requirement */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure it's above the GrapesJS editor */
  display: flex;
  align-items: center;
  padding: 10px;
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

.panel__basic-actions {
  position: initial;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 0 5px;
}

/* Style for toolbar buttons */
.panel__basic-actions span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  min-width: 70px;
  color: white;
  cursor: pointer;
  border-right: 1px solid #535353;
}

.panel__basic-actions span:hover {
  background-color: #535353;
}

.grapesjs-editor {
  flex-grow: 1;
  border: 3px solid #444;
}

/*Main row for the layout*/
.editor-row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
}

/* Editor's canvas - main content area */
.editor-canvas {
  flex-grow: 1;
}

/* Sidebar (right panel) */
.panel__right {
  flex-basis: 230px; /* Default width */
  position: relative;
  overflow-y: auto;
}

.panel__top {
  padding: 0;
  width: 100%;
  display: flex;
  position: initial;
  justify-content: center;
  justify-content: space-between;
}
.panel__basic-actions {
  position: initial;
}
